/*general slide styling*/

 .slider-wrapper{
	 padding:0;
	 margin:20px 6.5em;
	 width:1170px;
	 height:550px;;
	 position:relative;
	 overflow: hidden;
 }
 
 .slider-wrapper img{
	 width:1170px;
	 height:500px;
	 position:absolute;
	 margin:0;
	 left: -1170px;
	 cursor: pointer;;
 }

 /*arrow styles*/
 
 .arrow {
	 padding: 20px;
	 display:inline-block;
	 position:absolute;
	 background:#fff;
	 text-align:center;
	 z-index:10;
	 top:35%;
	 cursor:pointer;
	 opacity:0.4;
 }
 
 .arrow:hover {
	 opacity:0.8;
 }
 
 .arrow:hover>span {
	 font-size:40px;
 }
 
 
 .arrow span{
	 font-weight:bold;
	 font-size:36px;
	 color:#808080;
 }
 
 #arrow-lt {
	 left:0;
 }
 
 #arrow-gt {
	 right:0;
 }

 /*radio*/
 .dots {
 	width: .5em;
	height: .5em;
	border-radius: 4px;
	border: 2px solid #ccc;
	display: inline-block;
	z-index: 10;
	position: absolute;
	bottom: 5%;
	cursor: pointer;
	padding: 2px;
 }

 #dot1 {
	 left: 44%;
 }

 #dot2 {
	 left:46%;
 }
 
 #dot3 {
	 left:48%;
 }
 
 #dot4 {
	 left:50%;
 }

